.buzzer-button {
    color: peachpuff;
}

.flag-button {
    color: white;
}

.answer-button {
    background-color: inherit;
    width: 50%;
    height: 100%;
    font-size: var(--clue-button-font-size);
}

.eye-button {
    background-color: inherit;
    color: var(--clue-value-color);
    font-size: var(--clue-button-font-size);
}

.submit-button {
    background-color: inherit;
    color: inherit;
}