:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-color: rgb(25, 25, 195);
    --main-border-width: 3px;
    --monitor-border-width: 7px;
    --clue-value-color: yellow;
    --clue-text-color: white;
    --clue-button-font-size: 2rem;
    --tick-row-background-color: grey;
    --podium-height: 20vh;
    --jeopardy-background: url(../resources/jeopardy_background.jpeg);
}