.podiums {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50px;
    left: 43%;
}

.podium {
    margin: 10px;
    background-color: rgb(25, 25, 195);
    color: white;
    border: 3px solid black;
    font-weight: bold;
}