#podiums {
    display: flex;
}

.podium {
    box-sizing: border-box;
    margin: 0.5rem;
    background-color: var(--main-color);
    color: var(--clue-text-color);
    border: var(--clue-border);
    font-weight: bold;
    height: 90%;
    min-width: 30%;
    text-align: center;
}

.tick-row {
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tick-row-background-color);
    border-top: inherit;
}

.tick {
    box-sizing: border-box;
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    margin: 0.1rem;
}

.podium-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-top: inherit;
}

.big-podium-row {
    height: 40%;
}

.name-row {
    background-color: darkblue;
    border-bottom: inherit;
}

