#podiums {
    height: 23vh;
    width: 30vw;
    display: flex;
    justify-content: space-around;
}

.podium {
    margin-top: 0.5rem;
    background-color: rgb(25, 25, 195);
    color: white;
    border: 3px solid black;
    font-weight: bold;
    height: 90%;
    min-width: 25%;
    text-align: center;
}

.blank-ticks {
    height: 10%;
    background-color: gray;
    border-top: 3px solid black;
}

.ticks {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-top: 3px solid black;
}

.tick {
    box-sizing: border-box;
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    margin: 0.1rem;
}

.podium-row {
    height: 15%;
    border-top: 3px solid black;
}

.big-podium-row {
    height: 30%;
}

.name-row {
    background-color: darkblue;
    border-bottom: 3px solid black;
}

