@import '../index.scss';

#podiums {
    display: flex;
}

.podium {
    @include clueLayout(var(--main-border-width));
    box-sizing: border-box;
    margin: 0.5rem;
    font-weight: bold;
    height: var(--podium-height);
    min-width: 30%;
}

.tick-row {
    @include flexCenter();
    height: 7%;
    background-color: var(--tick-row-background-color);
    border-top: inherit;
}

.tick {
    box-sizing: border-box;
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    margin: 0.1rem;
}

.podium-row {
    @include flexCenter();
    height: 15%;
    border-top: inherit;
}

.big-podium-row {
    height: 40%;
    font-size: 0.8rem;
}

.name-row {
    background-color: darkblue;
    border-bottom: inherit;
}

