@import './styles/variables';
@import './styles/mixins';
@import './styles/buttons';
@import './styles/monitor';
@import './styles/podium';
@import './styles/board';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    background-image: var(--jeopardy-background);
}

main {
    @include gridTemplate(1fr 1.7fr 1fr, 1.2fr 4fr, "podiums monitor blank", "board board board");
}

Podium {
    grid-area: podiums;
}

#monitor-container {
    grid-area: monitor;
}

.fullscreen-enabled {
    background-image: var(--jeopardy-background);
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;
  }

