body {
  margin: 0;
  background-image: url(./Resources/jeopardy_background.jpeg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  user-select: none;
}

th {
  border: 3px solid black;
  background-color: rgb(25, 25, 195);
  color: white;
  font-size: 16px;
}

td {
  border: 3px solid black;
  background-color: rgb(25, 25, 195);
  color: white;
  width: 16vw;
  height: 13vh;
  text-align: center;
}

.clue-button {
  background-color: rgb(25, 25, 195);
  color: yellow;
  height: 100%;
  width: 100%;
  font-size: 50px;
  border: 0px;
}

.answer-button {
  background-color: rgb(25, 25, 195);
  color: yellow;
  width: 50%;
  height: 100%;
  font-size: 32px;
}

.buzzer-button {
  background-color: rgb(25, 25, 195);
  color: peachpuff;
  width: 50%;
  height: 100%;
  font-size: 32px;
}

.flag-button {
  background-color: rgb(25, 25, 195);
  color: white;
  width: 50%;
  height: 100%;
  font-size: 32px;
}

.eye-button {
  background-color: rgb(25, 25, 195);
  color: yellow;
  font-size: 32px;
}

.wager {
  margin: 1rem;
}

.submit-button {
  background-color: rgb(25, 25, 195);
  color: yellow;
  font-size: 1wpx;
}

.wager-input {
  width: 50%;
}

.final-input {
  width: 80%;
  border: 2px solid black;
}

.clue-text {
  font-size: 16px;
}

.buttons {
  margin-left: 2rem;
}

.start-button {
  background-color: rgb(25, 25, 195);
  color: white;
  font-size: 16px;
  margin-right: 0.3rem;
  border: 3px solid black;
}

.board {
  margin: 0.5rem;
}

.banner {
  display: flex;
}

