body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.answer-button-2 {
  background-color: rgb(25, 25, 195);
  color: yellow;
  width: 50%;
  font-size: 60px;
}

h3 div {
  float:right;
  margin: 10px;
  background-color: rgb(25, 25, 195);
  color: white;
  border: 3px solid black;
}

.table-light-on {
  border: 5px solid blue;
}

.table-light-off {
  border: 5px solid white;
}

th {
  border: 3px solid black;
  background-color: rgb(25, 25, 195);
  color: white;
  font-size: 30px;
}

td {
  border: 3px solid black;
  background-color: rgb(25, 25, 195);
  color: white;
  text-align: center;
}

.clue-button {
  background-color: rgb(25, 25, 195);
  color: yellow;
  width: 100%;
  font-size: 70px;
  border: 0px;
}

.banner {
  display: flex;
  justify-content: center;
}

.message {
  size: 50px;
}
