body {
  margin: 0;
  background-image: url(./Resources/jeopardy_background.jpeg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1.7fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "podiums console blank"
    "board board board";
}

Podium {
  grid-area: podiums;
}

#console {
  grid-area: console;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr;
  align-items: center;
}

#monitor-container {
  grid-column: 2 / 3;
  grid-row: 1;
}

#start-button {
  grid-column: 1;
  grid-row: 2;
}

#double-jeopardy-button {
  grid-column: 2;
  grid-row: 2;
}

#final-jeopardy-button {
  grid-column: 3;
  grid-row: 2;
}

.start-button {
  background-color: rgb(25, 25, 195);
  color: white;
  font-size: 1rem;
  margin-right: 0.3rem;
  border: 3px solid black;
}

#board {
  grid-area: board;
  margin: 0.25rem;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  user-select: none;
}

th {
  border: 3px solid black;
  background-color: rgb(25, 25, 195);
  color: white;
}

td {
  border: 3px solid black;
  background-color: rgb(25, 25, 195);
  color: white;
  width: 16vw;
  height: 12vh;
  text-align: center;
}

.clue-button {
  background-color: rgb(25, 25, 195);
  color: yellow;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  border: 0px;
}

.answer-button {
  background-color: rgb(25, 25, 195);
  color: yellow;
  width: 50%;
  height: 100%;
  font-size: 2rem;
}

.buzzer-button {
  background-color: rgb(25, 25, 195);
  color: peachpuff;
  width: 50%;
  height: 100%;
  font-size: 2rem;
}

.flag-button {
  background-color: rgb(25, 25, 195);
  color: white;
  width: 50%;
  height: 100%;
  font-size: 2rem;
}

.eye-button {
  background-color: rgb(25, 25, 195);
  color: yellow;
  font-size: 2rem;
}

.wager {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.submit-button {
  background-color: rgb(25, 25, 195);
  color: yellow;
}
