#monitor {
    size: 3rem;
    font-weight: bold;
    margin: 0.5rem 2rem 0.25rem;
    border: 7px solid black;
    height: 16vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(25, 25, 195);
    color: white;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;   
}