.monitor {
    size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 1px;
    border: 7px solid black;
    width: 360px;
    height: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(25, 25, 195);
    color: white;
    text-align: center;
}