@import '../index.scss';

#monitor {
    @include flexCenter();
    @include clueLayout(var(--monitor-border-width));
    box-sizing: border-box;
    size: 3rem;
    font-weight: bold;
    margin: 0.5rem 8rem 0.25rem;
    height: var(--podium-height);
    width: 45vh;
}

img {
    height: 100%;
    width: 100%;   
}